/* Globales */

.separador{
  margin-top: 16rem;
}

/* Header */

.main__header{
  background-color: #cfcfcf;
  opacity: .8;
  height: 7.4rem;
}

.main__header__wrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo a img{
  display: inline-block;
  width: 10.1rem;
}

.site-header__menu-icon{
  width: 2rem;
  height: 1.9rem;
  z-index: 10;
  cursor: pointer;
  position: relative;
}
  
.site-header__menu-icon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: .3rem;
  background-color: #000;
  transform-origin: 0 0;
  transition: transform .3s ease-out;
}
  
.site-header__menu-icon__middle{
  position: absolute;
  top: .8rem;
  left: 0;
  width: 2rem;
  height: .3rem;
  background-color: #000;
  transition: all .3s ease-out;
  transform-origin: 0 50%;
}

.site-header__menu-icon::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: .3rem;
  background-color: #000;
  transform-origin: 0 100%;
  transition: transform .3s ease-out;
}

.site-header__menu-icon.active::before{
  transform: rotate(45deg) scaleX(1.25);
}

.site-header__menu-icon.active .site-header__menu-icon__middle{
  opacity: 0;
  transform: scaleX(0);
}

.site-header__menu-icon.active::after{
  transform: rotate(-45deg) scaleX(1.25) translateY(1px);
}

.header__menu{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #cfcfcf;
  opacity: .8;
  transform: translateX(-100%);
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  margin-top: 7.4rem;
}

.header__menu.show{
  transform: translateX(0);
}

@media only screen and (min-width: 768px){
  
  .site-header__menu-icon{
    display: none;
  }

  .main__header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8rem;
    display: flex;
    align-items: center;
    z-index: 10;
  }

  .header__menu{
    position: static;
    height: auto;
    width: auto;
    margin-top: 0;
    transform: translateX(0);
  }

  .header__menu__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header__menu__wrapper nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header__wasap{
    align-self: flex-end;
  }

}

/* Hero */

.hero{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.hero__image{
  height: 100%;
  width: 100%;
}

.hero__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  filter: grayscale(1);
}

.hero__wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Title */

body{
  padding-bottom: 30rem;
}


  
  .title{
    position: relative;
  }

  .title__wrapper{
    padding: 3rem 0;
    border-top: 5px solid red;
    position: relative;
  }

  .title__line{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: red;
  }

  .title__wrapper:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 21.5rem;
    height: 4px;
    background-color: red;
  }


/* Main Box */

.box__item{
  position: relative;
}

.box__title{
  height: 100%;
  background-color: green;
  position: relative;
  transition: all .4s ease-in-out;
}

.box__description{
  height: 100%;
  background-color: purple;
  position: relative;
  transition: all .4s ease-in-out;
}

@media only screen and (min-width: 769px){
  
  .box__item{
    height: 16rem;
    cursor: pointer;
  }

  .box__internal{
    height: 100%;
    overflow: hidden;
  }

  .box__item:hover .box__title,
  .box__item:hover .box__description{
    transform: translateY(-100%);
  }
}

/* Map */

.map{
  width: 100vw;
  height: 57rem;
  margin-top: 5rem;
}
.map__wrapper{
  height: 100%;
  width: 100%;
}

.map__wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

/* Proyecto */

.proyecto.numai .title__wrapper:before{
  content: 'numai 1';
  position: absolute;
  bottom: -3px;
  left: 21rem;
  background-color: green;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.proyecto__item{
  margin-top: 4rem;
}

.proyecto__item .proyecto__foto figure{
  width: 100%; 
  height: 100%; 
}

.proyecto__item .proyecto__foto figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.proyecto__foto{
  height: 100%;
}

.proyecto__texto{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.proyecto__texto__wrapper{
  background-color: green;
  width: 100%;
}

.proyecto__item.odd{
  height: 72rem;
}

.proyecto__item.even{
  height: 58rem;
}

.proyecto__item.even .proyecto__texto{
  order: 1;
}
.proyecto__item.even .proyecto__foto{
  order: 0;
}

@media only screen and (min-width: 769px){
  .proyecto__item.even .proyecto__texto{
    order: 0;
  }

  .proyecto__item.even .proyecto__foto{
    order: 1;
  }
}

/* Amenities */

.ame__item .ame__foto figure{
  height: 20rem;
}

.ame__item .ame__foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.ame__item .ame__list{
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 2px solid red;
}