/* Globales */

body{
  -webkit-text-size-adjust: none !important;
}

@media only screen and (min-width: 992px){
  .separador{
    margin-top: 11.2rem;
  }
}

/* Header */

.main__header{
  background-color: #FFFFFF;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: top .5s ease-out;
}

.main__header .container{
  height: 100%;
}

.main__header__wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}

.header__logo a img{
  display: inline-block;
  width: 4.2rem;
}

.site-header__menu-icon{
  width: 2rem;
  height: 1.9rem;
  z-index: 10;
  cursor: pointer;
  position: relative;
  align-self: flex-start;
}
  
.site-header__menu-icon::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: .2rem;
  background-color: #000;
  transform-origin: 0 0;
  transition: transform .3s ease-out;
}
  
.site-header__menu-icon__middle{
  position: absolute;
  top: .8rem;
  left: 0;
  width: 2rem;
  height: .2rem;
  background-color: #000;
  transition: all .3s ease-out;
  transform-origin: 0 50%;
}

.site-header__menu-icon::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: .2rem;
  background-color: #000;
  transform-origin: 0 100%;
  transition: transform .3s ease-out;
}

.site-header__menu-icon.active::before{
  transform: rotate(45deg) scaleX(1.25);
}

.site-header__menu-icon.active .site-header__menu-icon__middle{
  opacity: 0;
  transform: scaleX(0);
}

.site-header__menu-icon.active::after{
  transform: rotate(-45deg) scaleX(1.25) translateY(0px);
}

.header__menu{
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.9s cubic-bezier(0.19, 1, 0.22, 1);
  margin-top: 8rem;
  padding-top: 2rem;
}

.header__menu.show{
  transform: translateX(0);
}

.header__wasap{
  display: none;
}

.header__menu .header__menu__wrapper nav ul a{
  display: inline-block;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 1.9em;
  letter-spacing: 0.2em;
  line-height: 1.8rem;
  width: 100%;
  margin-bottom: 3.2rem;
}

.header__menu .header__menu__wrapper nav ul li{
  padding-left: 2rem;
}

.header__menu .header__menu__wrapper nav ul li:last-child a{
  margin-bottom: 0;
}

.header__menu .header__menu__wrapper nav ul li:nth-child(3),
.header__menu .header__menu__wrapper nav ul li:nth-child(6){
  border-bottom: 2px solid #000;
}

.header__menu .header__menu__wrapper nav ul li:nth-child(4) a,
.header__menu .header__menu__wrapper nav ul li:nth-child(7) a{
  margin-top: 3.2rem;
}

@media only screen and (min-width: 992px){

  .header__menu .header__menu__wrapper nav ul a{
    margin-bottom: 0;
    font-size: 1.5em;
    margin-right: 2.5rem;
    width: auto;
    position: relative;
  }

  .header__menu .header__menu__wrapper nav ul a:after{
    content: '';
    height: 2px;
    background-color: transparent;
    width: 100%;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: background-color .3s ease-out;
  }

  .header__menu .header__menu__wrapper nav ul li{
    padding-left: 0;
  }

  .header__menu .header__menu__wrapper nav ul a:hover:after{
    background-color: #000;
  }

  .header__menu .header__menu__wrapper nav ul li:last-child a{
    margin-right: 0;
  }

  .header__menu .header__menu__wrapper nav ul li:nth-child(4) a,
  .header__menu .header__menu__wrapper nav ul li:nth-child(7) a{
    margin-top: 0;
  }

  .header__menu .header__menu__wrapper nav ul li:nth-child(3),
  .header__menu .header__menu__wrapper nav ul li:nth-child(6){
    border-bottom: none;
  }

  .header__wasap{
    display: block;
    align-self: flex-end;
    background-color: #fff;
    border: 2px solid #000;
    padding: 2px 6px;
    position: relative;
    bottom: 2rem;
  }

  .header__wasap a{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    letter-spacing: 0.2em;
    font-size: 1.5em;
    margin-left: 5px;
  }
  
  .header__wasap i{
    color: #7ACD6D;
    width: 100%;
    /* display: inline-block; */
    position: relative;
    font-size: 1.2em;
    bottom: -3px;
    left: -5px;
  }
  
  .site-header__menu-icon{
    display: none;
  }

  .main__header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 11rem;
    background-color: rgba(255,255,255,.65);
    display: flex;
    align-items: center;
    z-index: 10;
  }

  .header__menu{
    position: static;
    height: auto;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    transform: translateX(0);
  }

  .header__menu .container{
    padding: 0;
  }

  .header__menu__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header__menu__wrapper nav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header__logo a img{
    width: 6.5rem;
  }

}

/* Hero */

.hero{
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero:after{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}

.hero__image{
  height: 100%;
  width: 100%;
}

.hero__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.hero__wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 0 15px;
  font-family: 'DINPro';
}

.hero__wrapper span.present{
  font-weight: bold;
  font-size: 1.4em;
  letter-spacing: 0.2em;
  margin-bottom: 2rem;
  display: inline-block;
}

.hero__wrapper h1{
  letter-spacing: 0.1em;
  font-size: 6.8em;
  font-weight: 900;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.hero__wrapper h1::after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #fff;
}

.hero__wrapper img{
  width: 100%;
  max-width: 300px;
}

@media only screen and (min-width: 992px){
  .hero__wrapper img{
    width: 100%;
    max-width: 600px;
  }
}

.hero__wrapper h3{
  font-size: 2.2em;
  line-height: 4rem;
  letter-spacing: .15em;
  margin-bottom: 2rem;
  font-weight: 500;
}

.hero__wrapper h3 span{
  font-weight: 900;
}

.hero__wrapper span.origi{
  font-weight: 500;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  line-height: 2.7rem;
}

.hero__wrapper span.origi b{
  font-weight: 900;
}

.wasap__mobile{
  z-index: 1;
  position: absolute;
  bottom: 2rem;
  left: 0;
}

.wasap__mobile a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  font-size: 4rem;
  text-decoration: none;
  color: #7ACD6D;
}

.wasap__mobile i:before{
  vertical-align: middle;
}

.entrega{
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  bottom: 3rem;
  right: 15px;
  z-index: 1;
  text-align: right;
  font-family: 'DINPro';
  font-weight: 400;
}

.entrega span{
  display: block;
}

.entrega span:first-child{
  font-size: 1.4em;
  letter-spacing: 0.2em;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 2px solid #fff;
}

.entrega span:last-child{
  font-size: 1.4em;
  letter-spacing: 0.2em;
  font-weight: 900;
}

@media only screen and (min-width: 992px){

  .entrega{
    /* right: 0; */
    /* padding-right: 15px; */
  }

  .wasap__mobile{
    display: none;
  }

  .hero__wrapper{
    margin-top: 5rem;
  }

  .hero__wrapper span.present{
    font-size: 2.5em;
    line-height: 2.3rem;
    margin-bottom: 0;
  }
  
  .hero__wrapper h1{
    font-size: 14.6em;
    line-height: 15rem;
  }

  .hero__wrapper h1:after{
    width: 40rem;
  }

  .hero__wrapper h3{
    font-size: 5.8em;
    line-height: 6.8rem;
    font-weight: 400;
    margin-top: 2rem;
  }

  .hero__wrapper span.origi{
    font-size: 2.75em;
    line-height: 4.8rem;
  }
}
/* Title */

.title{
  position: relative;
  font-family: 'DINPro';
}

.title__wrapper{
  padding-top: 2.5rem;
  border-top: 5px solid #000;
  position: relative;
}

.title__main h2{
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 0.1em;
  color: #000;
  line-height: 2.75rem;
  padding-bottom: 1.1rem;
}

.title__main:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: -15px;
  width: 11.5rem;
  height: 4px;
  background-color: #000;
}

.title__description{
  font-size: 1.45em;
  line-height: 2.2rem;
  color: #000;
  margin-top: 2rem;
  font-weight: 500;
}

.title__line{
  position: absolute;
  left: 0;
  bottom: 63px;
  height: 4px;
  background-color: #000;
}

@media only screen and (min-width: 992px){

  .title__line{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #000;
  }

  .title__main:after{
    display: none;
  }

  .title__wrapper:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: -15px;
    width: 14.5rem;
    height: 4px;
    background-color: #000;
  }

  .title__main h2{
    padding-bottom: 0;
    font-size: 3em;
    line-height: 5rem;
    margin-bottom: 1.5rem;
  }

  .title__description{
    margin-top: 0;
    font-size: 1.8em;
    line-height: 2.8rem;
    position: relative;
    top: 1rem;
  }
}


/* Main Box */

.box{
  margin-top: 0;
}

.box .title{
  margin-bottom: 3.5rem;
}

.box__item{
  position: relative;
}

.box__title{
  height: 100%;
  padding: 2.5rem 0;
  position: relative;
  transition: all .4s ease-in-out;
  border-top: 3px solid #000;
}

.box__title h3{
  font-size: 2.5em;
  line-height: 3.55rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}

.box__title span{
  font-family: 'DIN Next LT Pro Condensed';
  text-transform: uppercase;
  font-size: 1.65em;
  line-height: 2.3rem;
}

.box__description{
  font-family: 'DINPro';
  height: 100%;
  padding: 2.5rem 0;
  border-top: 1px solid #000;
  position: relative;
  transition: all .4s ease-in-out;
  font-weight: 500;
  font-size: 1.4em;
  line-height: 2.2rem;
  color: #000;
}

.box__item:last-child .box__description{
  border-bottom: 1px solid #000;
}

@media only screen and (min-width: 992px){

  .box{
    margin-top: 0;
  }

  .box .title{
    margin-bottom: 11.2rem;
  }

  .box__title,
  .box__description{
    border-top: none;
  }

  .box__item:last-child .box__description{
    border-bottom: none;
  }

  .box__title,
  .box__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .box__item{
    height: 13.7rem;
    cursor: pointer;
  }

  .box__internal{
    height: 100%;
    overflow: hidden;
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
  }

  .box__item:hover .box__title,
  .box__item:hover .box__description{
    transform: translateY(-100%);
  }

  .box__title h3{
    font-size: 3.75em;
    line-height: 4rem;
  }

  .box__title span{
    font-size: 2.5em;
    line-height: 4rem;
  }
}

/* Map */

.map{
  width: 100%;
  height: 19.4rem;
  margin-top: 3.75rem;
}

.map__wrapper{
  height: 100%;
  width: 100%;
}

.map__wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

@media only screen and (min-width: 992px){
  .map{
    width: 100%;
    height: 36.6rem;
    margin-top: 5rem;
  }
}

/* Proyecto */

.proyecto.numai .title__main:before{
  content: 'numai I';
  position: absolute;
  bottom: -3px;
  left: 11rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.proyecto__item{
  margin-top: 2rem;
}

.proyecto__item .proyecto__foto figure{
  width: 100%; 
  height: 100%; 
}

.proyecto__item .proyecto__foto figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
}

.proyecto__foto{
  height: 35rem;
}

.proyecto__texto{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.proyecto__texto__wrapper{
  width: 100%;
}

.proyecto__item.odd .proyecto__foto{
  height: 43.5rem;
}

.proyecto__item.even .proyecto__foto{
  height: 22rem;
}

.proyecto__item.even .proyecto__texto{
  order: 1;
}
.proyecto__item.even .proyecto__foto{
  order: 0;
}

.proyecto__item.odd .proyecto__texto{
  margin-top: 1.1rem;
  padding-top: 2.4rem;
  position: relative;
}

.proyecto__item.odd .proyecto__texto:after{
  content: '';
  position: absolute;
  top: 0;
  left: 15px;
  width: 7.5rem;
  height: 7px;
  background-color: #000;
}

.proyecto__item.odd .proyecto__texto h4{
  font-size: 1.8em;
  line-height: 2.75rem;
  color: #000;
  text-transform: uppercase;
  font-family: 'DINPro';
  font-weight: 900;
  letter-spacing: 0.1em;
}

.proyecto__item.odd .proyecto__texto p,
.proyecto__item.even .proyecto__texto p{
  font-size: 1.4em;
  line-height: 2.2rem;
  letter-spacing: 0.025em;
  color: #000;
  margin-top: 4rem;
}

.proyecto__item.even{
  margin-bottom: 3.5rem;
}

.proyecto__item.even .box__title{
  margin-top: 2rem;
  border-bottom: 1px solid #939393;
}

.proyecto__item.even .proyecto__texto p{
  margin-top: 2rem;
}

@media only screen and (min-width: 992px){

  .proyecto.numai .title__main:before{
    display: none;
  }

  .proyecto.numai .title__wrapper:before{
    content: 'numai 1';
    position: absolute;
    bottom: -1px;
    left: 14rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }
  
  .otros.estudio .title__wrapper:before{
    content: 'estudio fuentes';
    position: absolute;
    bottom: -1px;
    left: 14rem;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .proyecto__item.even .proyecto__texto{
    order: 0;
  }

  .proyecto__item.even .proyecto__foto{
    order: 1;
  }

  .proyecto__item{
    margin-top: 8.3rem;
  }

  .proyecto__item.odd .proyecto__foto{
    height: 60rem;
  }
  
  .proyecto__item.even .proyecto__foto{
    height: 48rem;
  }

  .proyecto__item.odd .proyecto__texto:after{
    display: none;
  }

  .proyecto__item.odd .proyecto__texto h4{
    letter-spacing: 0.15em;
    font-size: 5.4em;
    line-height: 6.5rem;
    position: relative;
    padding-top: 2.5rem;
  }

  .proyecto__item.odd .proyecto__texto h4:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 17rem;
    height: 5px;
    background-color: #000;
  }

  .proyecto__item.odd .proyecto__texto p{
    padding-bottom: 10rem;
    border-bottom: 1px solid #939393;
  }

  .proyecto__item.even .box__title{
    padding: 5rem 0;
    border-top: 5px solid #000;
  }

  .proyecto__item.even .proyecto__texto p{
    padding: 5rem 0;
    border-bottom: 1px solid #939393;
    margin-top: 0;
  }
}

/* Amenities */

.ame__item .ame__foto figure{
  height: 15.5rem;
}

.ame__item .ame__foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.ame__item .ame__list{
  margin-top: 2rem;
  padding: 2rem 0;
  width: 100%;
  border-top: 5px solid #000;
}

.ame__item{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
}

.ame__full{
  width: 100%;
  height: 18.5rem;
  margin-top: 3.75rem;
}

.ame__full__wrapper{
  height: 100%;
  width: 100%;
}

.ame__full__wrapper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.ame__item:last-child .ame__foto{
  display: none;
}

.ame__item .ame__list h4{
  color: #000;
  font-size: 2.5em;
  line-height: 3.6rem;
  text-transform: uppercase;
}

.ame__item .ame__list ul{
  margin-top: 1.8rem;
}

.ame__item .ame__list ul li{
  font-size: 1.4em;
  display: block;
  color: #000;
  line-height: 2.2rem;
}

.ame__item:last-child .ame__list{
  border-bottom: 1px solid #939393;
}

.ame__banner{
  width: 100%;
  margin-top: 2rem;
}

.ame__banner__foto{
  height: 21rem;
}

.ame__banner__foto figure{
  width: 100%;
  height: 100%;
}

.ame__banner__foto img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.ame__banner__texto{
  margin-top: 2.5rem;
}

.ame__banner__texto .box__title{
  border-bottom: 1px solid #939393;
}

.ame__banner__texto p{
  font-size: 1.4em;
  line-height: 2.2rem;
  letter-spacing: 0.025em;
  color: #000;
  padding-top: 2.5rem;
}

@media only screen and (min-width: 992px){
  .ame__full{
    width: 100%;
    height: 60.1rem;
    margin-top: 5rem;
  }

  .ame__item:last-child .ame__foto{
    display: block;
  }

  .ame__item .ame__list{
    margin-bottom: 2rem;
    border-bottom: 1px solid #939393;
    margin-top: 6.7rem;
  }

  .ame__item .ame__list ul{
    margin-top: 3.7rem;
  }

  .ame__item .ame__list h4{
    font-size: 3.75em;
    line-height: 5.4rem;
  }

  .ame__banner__texto{
    margin-top: 0;
  }

  .ame__banner{
    margin-top: 5rem;
  }

  .ame__banner__foto{
    height: 48.75rem;
  }

  .ame__banner__texto{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .ame__banner__texto .box__title{
    border-top: 3px solid #000;
    padding: 5rem 0;
  }

  .ame__banner__texto p{
    padding: 5rem 0;
    border-bottom: 1px solid #939393;
  }
}

/* Gallery */

.galeria__wrapper{
  margin-top: 2rem;
}

.swiper-wrapper{
  transition: all .3s ease !important;
}

.swiper-gallery .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.swiper-gallery .swiper-wrapper .swiper-slide,
.otros-gallery .swiper-wrapper .swiper-slide{
  height: 30rem;
  width: 16rem;
}

.swiper-gallery .swiper-slide-next.more{
  width: 38rem !important;
  
  transition: all 1s ease;
}

.otros-gallery .swiper-slide-active.more{
  width: 38rem !important;
  
  transition: all 1s ease;
}

.otros-gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.otros-gallery .swiper-slide span{
  bottom: 0;
  position: absolute;
  background: white;
  width: 100%;
  padding: 1.5rem;
  text-transform: uppercase;
  font-size: 1.4em;
  color: #000;
}

.galeria.separador{
  margin-top: 2.2rem;
}

.swiper-button-next,
.swiper-button-prev{
  color: #fff;
}

.lightbox .lb-image{
  border: none;
  border-radius: 0;
}

.lb-number{
  display: none !important;
}

.lb-outerContainer{
  border-radius: 0;
  background-color: #fff;
}

@media only screen and (min-width: 992px){
  .galeria.separador{
    margin-top: 11.2rem;
  }

  .galeria__wrapper{
    margin-top: 4.5rem;
  }
}

/* Contacto */

.contacto{
  margin-top: 3.5rem;
}

.contacto__wrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.contacto__form .contacto__form__in span:first-child{
  color: #000;
  display: block;
  font-size: 1.5em;
  line-height: 1.8rem;
  letter-spacing: .15em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'DINPro';
  margin-bottom: 1.5rem;
  padding-top: 2rem;
  position: relative;
}

.contacto__form .contacto__form__in span:first-child:after{
  content: '';
  height: 5px;
  width: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
}

.contacto__form .contacto__form__in span.write{
  color: #000;
  display: block;
  font-size: 1.5em;
  line-height: 1.8rem;
  letter-spacing: .15em;
  text-transform: capitalize;
  font-family: 'DINPro';
  margin-bottom: 1.5rem;
}

form *{
  box-sizing: border-box;
}

.contacto__form__row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacto__form__row input{
  width: 50%;
  height: 3rem;
}

.contacto__form__row input:first-child{
  margin-right: .5rem;
}

.contacto__form__row input:last-child{
  margin-left: .5rem;
}

form input,
form textarea,
form input:focus,
form textarea:focus{
  border: 2px solid #000;
  border-radius: 0;
  padding: 0 1rem;
}

form input::placeholder,
form textarea::placeholder,
form input,
form textarea{
  color: #000;
  display: block;
  font-size: 1em;
  line-height: 1.8rem;
  letter-spacing: .15em;
  text-transform: uppercase;
  font-family: 'DINPro';
  margin-bottom: 1.5rem;
}

form textarea{
  width: 100%;
  resize: none;
  height: 8rem;
  padding-top: 1rem;
}

form textarea:focus{
  padding-top: 1rem;
}

form input[type="submit"]{
  margin-left: auto;
  cursor: pointer;
  transition: all .4s ease;
}

form input[type="submit"]:hover{
  background-color: #000;
  color: #fff;
}

.contacto__img{
  text-align: center;
  margin-top: 5rem;
}

.contacto__img img{
  width: 10rem;
}

.contacto__img a{
  display: inline-block !important;
  margin-top: 3rem;
  color: #000;
  display: block;
  font-size: 1.5em;
  line-height: 1.8rem;
  letter-spacing: .15em;
  font-family: 'DINPro';
  margin-bottom: 1.5rem;
  border: 2px solid #000;
  padding: 1rem  2rem;
  transition: all .5s ease;
}

.contacto__img a:hover{
  background-color: #000;
  color: #fff;
}

.contacto__img a b{
  font-weight: 900;
}

@media only screen and (min-width: 992px){
  
  .contacto__wrapper{
    flex-direction: row;
  }

  .contacto__img{
    margin-top: 0;
  }

  .contacto.separador{
    margin-top: 11.2rem;
  }

  .contacto__img img{
    width: 16rem;
  }

  .contacto__img a{
    margin-top: 5rem;
  }

  .contacto__form .contacto__form__in span:first-child{
    font-size: 2.5em;
    line-height: 3rem;
  }

  .contacto__form .contacto__form__in span.write{
    margin-bottom: 2.2rem;
  }

  .contacto__form__row input{
    height: 4.1rem;
  }

  form textarea{
    height: 13.3rem;
  }

  form input[type="submit"]{
    font-size: 1.4em;
    padding: .8rem 2rem;
  }

}

/* Footer */

.footer{
  background-color: #000;
  padding: 4.5rem 0;
  margin-top: 5rem;
}

.footer__item{
  text-align: center;
  margin-top: 6.5rem;
}

.footer__item:first-child{
  margin-top: 0;
}

.footer__item img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__item__constru figure{
  width: 15rem;
  margin: 0 auto;
}

.footer__item__orwel figure{
  width: 15rem;
  margin: 0 auto;
}

.footer__descri{
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.5em;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-family: 'DINPro';
  letter-spacing: 0.2em;
}

.orwel__descri{
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 1.5rem;
  border-top: 3px solid #fff;
}

.orwel__descri span,
.orwel__descri a{
  display: block;
}

.orwel__descri__mail{
  display: inline-block;
  margin-bottom: .2rem;
  font-size: 1.3em;
  line-height: 2.2rem;
  color: #fff;
  font-weight: 400;
  font-family: 'DINPro';
  letter-spacing: 0.2em;
}

.orwel__descri__site{
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.3em;
  line-height: 2.2rem;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  font-family: 'DINPro';
  letter-spacing: 0.2em;
}

@media only screen and (min-width: 992px){
  .footer__item{
    margin-top: 0;
  }

  .orwel__descri{
    width: 100%;
  }
}

/* Mapping */

.desktop{
  display: none;
}

@media only screen and (min-width: 992px){

  .mobile{
    display: none;
  }

  .desktop{
    display: flex;
  }

  .mapping{
    position: relative;
  }

  .build__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .map__info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 15px;
    margin-top: 6rem;
  }

  .map__img{
    width: 100%;
    margin-top: 6rem;
  }

  .map__img img{
    width: 100%;
  }

  .map__info__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 66.66%;
    padding-right: 15px;
  }

  .build__img{
    width: 33.33%;
    padding-left: 15px;
  }

  .map__info__detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .changing{
    width: 100%;
  }

  .map__info__detail .piso,
  .map__info__detail .unidad{
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 100%;
  }

  .map__info__detail .unidad{
    min-height: 156px;
  }

  .map__info__detail .piso{
    margin-left: 0;
    font-size: 2.5em;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-weight: bold;
  }

  .map__info__detail .unidad h6{
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 0.025em;
    color: #000;
    margin-bottom: .6rem;
  }

  .map__info__detail .unidad li{
    margin-bottom: 0.6rem;
    font-size: 1.5em;
  }

  .map__info__detail .unidad li:last-child{
    margin-bottom: 0;
  }

  .footer__info span:first-child{
    font-size: 1.8em;
    display: block;
    width: 100%;
    padding: 1.5rem 0;
    color: #000;
    border-bottom: 2px solid #000;
    text-align: left;
  }

  .footer__info span:nth-child(2){
    font-size: 1.3em;
    width: 100%;
    display: inline-block;
    margin-top: 1.5rem;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 0.5rem;
    text-align: left;
  }

  .footer__info p{
    width: 100%;
    text-align: left;
  }

}

/* Tabs */

.tabs__map{
  margin-top: 3rem;
}

.tabs__links{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.tabs__links a{
  border: 2px solid #000;
  padding: .5rem 1rem;
  text-decoration: none;
  font-size: 1.4em;
  font-weight: bold;
  margin-right: 1rem;
  color: #000;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: all .4s ease;
}

.tabs__links a:hover{
  background-color: #000;
  color: #fff;
}

.tabs__links a.active{
  background-color: #000;
  color: #fff;
}

.tabs__content{
  position: relative;
}

.tabs__content .tabs__content__item{
  display: none;
}

.tabs__content__item img{
  width: 100%;
}

.tabs__content__item.active{
  display: block;
}

.tabs__map .map__info__detail{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.tabs__content .unidad{
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 100%;
  min-height: 130px;
}

.tabs__content .unidad h6{
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: 0.025em;
  color: #000;
  margin-bottom: .6rem;
}

.tabs__content .unidad li{
  margin-bottom: 0.6rem;
  font-size: 1.1em;
}

.tabs__content .unidad li:last-child{
  margin-bottom: 0;
}

.tabs__content .map__img{
  margin-top: 3rem;
}

.tabs__content .map__info__detail .unidad:first-child{
  margin-left: 0;
}

.tabs__content .map__info__detail .unidad:last-child{
  margin-right: 0;
}

.tabs__map .footer__info{
  margin-top: 2rem;
}

.tabs__map .footer__info span{
  font-size: 1.1em;
  width: 100%;
  display: inline-block;
  padding-top: 1.5rem;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 1rem;
  text-align: left;
  border-top: 2px solid #000;
}

.tabs__map .footer__info p{
  text-align: left;
}

/* Otros */

.mapping.separador,
.otros.separador{
  margin-top: 3rem;
}

@media only screen and (min-width: 992px){
  .mapping.separador,
  .otros.separador{
    margin-top: 11.5rem;
  }
}

#success_message{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 2em;
  padding: 2rem;
  z-index: 1000;
  display: none;
}